{% extends 'base.html' %}

{% block title %}STUDENT DATA{% endblock %}
{% block logout %}
<b><li class="welcome">Welcome, {{ name }}</li></b>
{% endblock %}

{% block main %}
<h1><b>Welcome !</b></h1>
<h2>Please select from below options:</h2>
<!--student data enter-->
<div class="center"><img style="width: 30%;" src="static/database.png" alt="database_image" />
<div class="centered">
    <a href="{{ url_for('Student') }}" target="_blank" rel="noopener">
    <p style="text-align:center">ENTER STUDENT DATA   
    </p>
    </a></div>
</div>
<!--student data show-->
<div class="center"><img style="width: 30%;" src="static/table.png" alt="table_image" />
<div class="centered">
    <a href="{{ url_for('student_data_show') }}" target="_blank" rel="noopener">
    <p style="text-align:center">SHOW STUDENT DATA 
    </p></a></div>
</div>
<!--student data delete-->
<div class="center"><img style="width: 30%;" src="static/remove.jpg" alt="remove_image" />
  <div class="centered">
      <a href="{{ url_for('delete_data') }}" target="_blank" rel="noopener">
      <p style="text-align:center">DELETE STUDENT DATA 
      </p></a></div>
  </div>
<!--student data delete-->
<div class="center"><img style="width: 30%;" src="static/get.png" alt="remove_image" />
    <div class="centered">
        <a href="{{ url_for('get_data') }}" target="_blank" rel="noopener">
        <p style="text-align:center">GET STUDENT DATA 
        </p></a></div>
    </div>
<div class="center"><img style="width: 30%;" src="static/my_plot.png" alt="remove_image" />
    <div class="centered">
        <a href="{{ url_for('compare_data') }}" target="_blank" rel="noopener">
        <p style="text-align:center">COMPARE STUDENT DATA 
        </p></a></div>
    </div>
<div class="center"><img style="width: 30%;" src="static/mail.jpg" alt="remove_image" />
    <div class="centered">
        <a href="{{ url_for('email_sent') }}" target="_blank" rel="noopener">
        <p style="text-align:center">EMAIL_SENT 
        </p></a></div>
    </div>
    <div class="center"><img style="width: 30%;" src="static/plot_all.png" alt="remove_image" />
        <div class="centered">
            <a href="{{ url_for('compare_all') }}" target="_blank" rel="noopener">
            <p style="text-align:center">COMPARE ALL
            </p></a></div>
        </div>
{% endblock %}
